{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'apartments/css/add_edit_apartment.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h2>
    {% if apartment %}Редагувати оголошення{% else %}Додати нове оголошення{% endif %}
  </h2>
  
  <!-- Dynamically change the form action depending on whether we are editing or creating an apartment -->
  <form id="apartment-form" method="post" action="{% if apartment %}{% url 'apartment_edit' apartment.id %}{% else %}{% url 'apartment_create' %}{% endif %}">
    {% csrf_token %}
    
    <!-- Виведення загальних помилок форми -->
    <div class="form-errors">
      {{ form.non_field_errors }}
    </div>

    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="errorlist">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <button type="submit">
      {% if apartment %}Оновити{% else %}Додати{% endif %}
    </button>
  </form>
</div>

{% endblock %}
