{% extends "base.html" %} 

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'apartments/css/apartment_detail.css'%}?v=1.4"/>
  <link rel="stylesheet" href="{% static 'apartments/css/apartment_item.css'%}?v=2.1"/>
{% endblock %}

{% block content %}
<div class="apartment-block">
  <h2>{{ apartment.title }}</h2>
  {% if is_owner and apartment.status != "approved" %}
    <p class="status status-{{ apartment.status }}">
      {% if apartment.status == "pending" %}
        Очікує модерації
      {% elif apartment.status == "rejected" %}
        Відхилено
      {% endif %}
    </p>
  {% endif %}
  <img
    src="{% static 'images/default-image.jpg' %}"
    alt="Image"
  />
  <p><strong>Ціна:</strong> {{ apartment.price }} грн</p>
  <p class="description"><strong>Опис:</strong> {{ apartment.description }}</p>
  <p>
    <strong>Контактна особа:</strong> {{ owner.first_name }} {{ owner.last_name }}
  </p>
  <p><strong>Телефон:</strong> {{ owner.phone }}</p>
  <p>
    <strong>Адреса:</strong> {{ apartment.location.city }}, вул. 
    {{ apartment.location.street }}, буд. {{ apartment.location.house_number }}
  </p>

  {% if is_owner %}
  <form action="/apartments/{{ apartment.id }}/edit/" method="get">
    <button>Редагувати</button>
  </form>
  <button onclick="deleteApartment({{ apartment.id }})">Видалити</button>
  {% else %}
  <form action="">
    <button>Забронювати</button>
  </form>
  {% endif %}
</div>


<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let cookie of cookies) {
              cookie = cookie.trim();
              if (cookie.startsWith(name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  
  function deleteApartment(id) {
    if (!confirm("Точно видалити квартиру?")) return;

    fetch(`/apartments/${id}/delete/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
        },
        redirect: 'follow' // ця опція не допоможе автоматично перейти у fetch, треба вручну
    })
    .then(response => {
        if (response.redirected) {
            window.location.href = response.url; // перенаправляємо вручну
        }
    });
}

  </script>

{% endblock %}
