{% extends "base.html" %} 
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'apartments/css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/apartment_item.css' %}?v=2.3"/>
{% endblock %}

{% block content %}
<h1>Доступні до оренди квартири</h1>

  <div id="apartment_container">
    {% if apartments %} 
      {% for apartment in apartments %} 
        {% include "apartments/apartment_item.html" %} 
      {% endfor %} 
    {% else %}
      <p><big><strong>На жаль, наразі немає доступних квартир.</strong></big></p>
    {% endif %}
  </div>
</div>
{% endblock %}
