{% extends "base.html" %} 
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/authorization.css' %}?v=1.7" />
  <link rel="stylesheet" href="{% static 'apartments/css/apartment_item.css' %}?v=1.9"/>
{% endblock %}

{% block content %}
<div class="profile-container">
  <div class="user-info">
    <h1>Профіль користувача</h1>

    {% if user.is_admin %}
    <p class="admin-badge">Адміністратор</p>
    {% endif %}

    <p>Вітаємо, {{ user.first_name }} {{user.last_name }}!</p>
    <p>Ваш номер: {{ user.phone }}</p>
    <p>Ваша електронна адреса: {{ user.email }}</p>

    <div class="profile-actions">
      <form action="{% url 'apartment_create' %}" method="get">
        <button class="add-apartment-btn">Додати нове оголошення</button>
      </form>

      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-btn">Вийти</button>
      </form>
    </div>
  </div>

  <div class="apartments-section">
    <h2>Ваші оголошення</h2>
    {% if apartments %}
      <div id="apartment_container">
        {% for apartment in apartments %}
          {% include "apartments/apartment_item.html" %}
        {% endfor %}
      </div>
    {% else %}
      <p class="no-apartments">Поки пусто</p>
    {% endif %}
  </div>
</div>
{% endblock %}
