{% extends 'base.html' %}
{% load static %}

{% block title %}Реєстрація{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/authorization.css' %}?v=1.6" />
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Реєстрація</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="errorlist">
                    {{ field.errors }}
                </div>
                {% endif %}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
    <p class="auth-link">
        Вже маєте акаунт? <a href="{% url 'login' %}">Увійти</a>
    </p>
</div>
{% endblock %}
