{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=2.0" />
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Про нас</a></li>

          <li><a href="/apartments/">Квартири</a></li>
      
          {% if user %}
            <li><a href="/profile/">Профіль</a></li>
      
            {% if user.is_admin %}
              <li><a href="/admin-panel/">Адмін-панель</a></li>
            {% endif %}
      
            <li><a href="/logout/">Вийти</a></li>
          {% else %}
            <li><a href="/login/">Вхід</a></li>
            <li><a href="/register/">Реєстрація</a></li>
          {% endif %}
        </ul>
      </nav>
      
    </header>

    <!-- Content (тіло сторінки) -->
    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p><strong>&copy; 2025 RentalUA</strong></p>
    </footer>
  </body>
</html>
